@import "./constants.scss";

.centering-container {
  max-width: 1100px;
  margin: auto;
}

.btn {
  text-decoration: none;
  color: $color-secondary;
  background-color: $color-primary;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
  transition: color 0.25s, background-color 0.25s;

  &:hover {
    color: $color-primary;
    background-color: $color-secondary;
  }
}

.page {
  background-color: #f4f4f4;

  &.dark-mode {
    background-color: $dark-mode--neutral-background;
    .page-title {
      color: $dark-mode--color-primary;
    }
  }

  padding: 2rem 0;
  .page-title {
    padding-top: 2rem;
    margin: 0;
    text-align: center;
    font-size: 2.2rem;
  }
}
