@keyframes link-underline {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  30% {
    opacity: 1;
  }
  70% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(2px);
  }
  90% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

@mixin smaller-header-styles {
  opacity: 0.75;
}

@mixin normal-header-styles {
  opacity: 1;
}

@keyframes smaller-header-animation {
  0% {
    @include normal-header-styles;
    transform: translateY(0px);
  }
  45% {
    @include normal-header-styles;
    transform: translateY(-10rem);
  }
  50% {
    @include smaller-header-styles;
  }
  55% {
    transform: translateY(-10rem);
    @include smaller-header-styles;
  }
  100% {
    transform: translateY(0);
    @include smaller-header-styles;
  }
}

@keyframes normal-header-animation {
  0% {
    @include smaller-header-styles;
    transform: translateY(0px);
  }
  45% {
    @include smaller-header-styles;
    transform: translateY(-10rem);
  }
  50% {
    @include normal-header-styles;
  }
  55% {
    transform: translateY(-10rem);
    @include normal-header-styles;
  }
  100% {
    transform: translateY(0);
    @include normal-header-styles;
  }
}

@mixin smaller-header-styles-img {
  width: 11rem;
}

@mixin normal-header-styles-img {
  width: 15rem;
}

@keyframes smaller-header-animation-img {
  0% {
    @include normal-header-styles-img;
    transform: translateY(0px);
  }
  45% {
    @include normal-header-styles-img;
    transform: translateY(-10rem);
  }
  50% {
    @include smaller-header-styles-img;
  }
  55% {
    transform: translateY(-10rem);
    @include smaller-header-styles-img;
  }
  100% {
    transform: translateY(0);
    @include smaller-header-styles-img;
  }
}

@keyframes normal-header-animation-img {
  0% {
    @include smaller-header-styles-img;
    transform: translateY(0px);
  }
  45% {
    @include smaller-header-styles-img;
    transform: translateY(-10rem);
  }
  50% {
    @include normal-header-styles-img;
  }
  55% {
    transform: translateY(-10rem);
    @include normal-header-styles-img;
  }
  100% {
    transform: translateY(0);
    @include normal-header-styles-img;
  }
}

@mixin smaller-header-styles-link {
  padding: 0;
}

@mixin normal-header-styles-link {
  padding: 1rem 0.5rem;
}

@keyframes smaller-header-animation-link {
  0% {
    @include normal-header-styles-link;
    transform: translateY(0px);
  }
  45% {
    @include normal-header-styles-link;
    transform: translateY(-10rem);
  }
  50% {
    @include smaller-header-styles-link;
  }
  55% {
    transform: translateY(-10rem);
    @include smaller-header-styles-link;
  }
  100% {
    transform: translateY(0);
    @include smaller-header-styles-link;
  }
}

@keyframes normal-header-animation-link {
  0% {
    @include smaller-header-styles-link;
    transform: translateY(0px);
  }
  45% {
    @include smaller-header-styles-link;
    transform: translateY(-10rem);
  }
  50% {
    @include normal-header-styles-link;
  }
  55% {
    transform: translateY(-10rem);
    @include normal-header-styles-link;
  }
  100% {
    transform: translateY(0);
    @include normal-header-styles-link;
  }
}

@mixin smaller-header-styles-hamburger {
  height: 30px;
  width: 30px;
}

@mixin normal-header-styles-hamburger {
  height: 50px;
  width: 50px;
}

@keyframes smaller-header-animation-hamburger {
  0% {
    @include normal-header-styles-hamburger;
    transform: translateY(0px);
  }
  45% {
    @include normal-header-styles-hamburger;
    transform: translateY(-10rem);
  }
  50% {
    @include smaller-header-styles-hamburger;
  }
  55% {
    transform: translateY(-10rem);
    @include smaller-header-styles-hamburger;
  }
  100% {
    transform: translateY(0);
    @include smaller-header-styles-hamburger;
  }
}

@keyframes normal-header-animation-hamburger {
  0% {
    @include smaller-header-styles-hamburger;
    transform: translateY(0px);
  }
  45% {
    @include smaller-header-styles-hamburger;
    transform: translateY(-10rem);
  }
  50% {
    @include normal-header-styles-hamburger;
  }
  55% {
    transform: translateY(-10rem);
    @include normal-header-styles-hamburger;
  }
  100% {
    transform: translateY(0);
    @include normal-header-styles-hamburger;
  }
}
