@import "./keyframe-animations.scss";

@mixin smallerMenuLink {
  .link {
    animation: smaller-header-animation-link 0.5s ease-in-out forwards;
    &.router-link-exact-active::after {
      margin-top: 0;
    }
  }
}

@mixin normalMenuLink {
  .link {
    animation: normal-header-animation-link 0.5s ease-in-out forwards;
  }
}
